<h1>Listing tv_serie_episodes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Tv serie</th>
    <th>Number</th>
    <th>Season</th>
    <th>Plot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tv_serie_episodes.each do |tv_serie_episode| %>
  <tr>
    <td><%= tv_serie_episode.title %></td>
    <td><%= tv_serie_episode.tv_serie_id %></td>
    <td><%= tv_serie_episode.number %></td>
    <td><%= tv_serie_episode.season %></td>
    <td><%= tv_serie_episode.plot %></td>
    <td><%= link_to 'Show', tv_serie_episode %></td>
    <td><%= link_to 'Edit', edit_tv_serie_episode_path(tv_serie_episode) %></td>
    <td><%= link_to 'Destroy', tv_serie_episode, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tv serie episode', new_tv_serie_episode_path %>
