<%= simple_form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.association :support %>
  </div>
  <div class="field">
    <%= f.association :genre %>
  </div>
  <div class="field">
    <%= f.input :rating, :collection => 1..5, :as => :radio %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
