<ul id="nav" class="menu">
  <li class="page_item page-item-2">
    <%= link_to "Home", :controller => "home" %>
  </li>
  <li class="page_item page-item-2">
    <%= link_to "All Products", :controller => "products" %>
  </li>
  <li class="page_item page-item-2">
    <%= link_to "Books", :controller => "books" %>
  </li>
  <li class="page_item page-item-2">
    <%= link_to "Films", :controller => "films" %>
  </li>
  <li class="page_item page-item-2">
    <%= link_to "Tv series", :controller => "tv_series" %>
  </li>
  <li class="page_item page-item-2">
    <%= link_to "Audio", :controller => "audio_files" %>
  </li>
  <li class="page_item page-item-2">
    <%= link_to "Softwares", :controller => "softwares" %>
  </li>
</ul>